.nav-head, .navbar>.nav-items {
    display: inline-block;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items {
    padding: 14px 16px;
}
#nav-head {
    margin-left: 16px;
}
.nav-items a {
    text-decoration: none;
    color: #3a3a3a;
}
body {
    color: #3a3a3a;
}
.fa-shooping-cart {
    color: white;
}