.nav-head, .navbar>.nav-items {
    display: inline-block;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items {
    padding: 14px 16px;
}
.nav-items a {
    text-decoration: none;
    color: #3a3a3a;
}
.nav-items a:hover {
    color: white;
    background-color: chocolate;
}
body {
    color: #3a3a3a;
    font-family: 'Poppins', sans-serif;
}
header, main {
    margin: 50px;
}
.heading {
    display: flex;
}
.main-heading {
    font-size: 52px;
}
.camera-image {
    background-image: url(../images/circle-design.svg);
    background-repeat: no-repeat;
}
p {
    font-size: 16px;
}
.prebook {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px;
    border-radius: 41px;
}
.company-icons li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
.icons {
    color: lightgray;
}
.company-icons ul {
    margin: 0 140px;
}
#home {
    padding-bottom: 100px;
}
.products li {
    list-style-type: none;
    padding: 5px 10px;
    box-shadow: 10px 10px whitesmoke, 10px 10px 4em whitesmoke;
}
.products ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    left: 196px;
    top: 1541px;
}
h4 {
    display: inline;
}
.fa-star, .fa-star-half-alt {
    color: orange;
}
#products h3 {
    text-align: center;
}
#see-more {
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
}
#register {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.register {
    height: 30px;
    width: 70px;
    color: white;
    padding: 10px 25px;
    background-color: #E02C6D;
}
#footer {
    text-align: center;
    background-color: #0a0826;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-heading {
    color: white;
}
.footer-content {
    color: #d9dbf1;
}
.contact-icons {
    color: white;
    padding: 0 16px;
}
.contact li {
    list-style-type: none;
    display: inline;    
}